<div class="tvshow-details-container">
  <div class="tvshow-header">
    <img
      *ngIf="tvshow.poster_path"
      [src]="'https://image.tmdb.org/t/p/w500' + tvshow.poster_path"
      alt="{{ tvshow.name }}"
      class="tvshow-poster"
    />
    <div class="tvshow-header-info">
      <h1>{{ tvshow.name }}</h1>
      <p class="tvshow-genres">
        <strong>Genres:</strong> {{ genresList }}
      </p>
      <p class="tvshow-release-date">
        <strong>First Aired:</strong> {{ tvshow.first_air_date | date: 'longDate' }}
      </p>
      <p class="tvshow-rating">
        <strong>Rating:</strong> {{ tvshow.vote_average }} / 10
      </p>
    </div>
  </div>

  <div class="tvshow-overview">
    <h2>Overview</h2>
    <p>{{ tvshow.overview }}</p>
  </div>

  <div class="tvshow-additional-info">
    <h2>Additional Information</h2>
    <p><strong>Number of Seasons:</strong> {{ tvshow.number_of_seasons }}</p>
    <p><strong>Number of Episodes:</strong> {{ tvshow.number_of_episodes }}</p>
  </div>
</div>