<div>
    <input
      type="text"
      placeholder="Search TV shows..."
      [(ngModel)]="searchQuery"
      (keyup.enter)="searchTvShows()"
    />
    <button (click)="searchTvShows()">Search</button>
  </div>
  
  <div *ngIf="tvshows.length > 0">
    <div *ngFor="let tvshow of tvshows" class="tvshow-item">
      <img
        *ngIf="tvshow.poster_path"
        [src]="'https://image.tmdb.org/t/p/w500' + tvshow.poster_path"
        alt="{{ tvshow.name }}"
      />
      <div>
        <h3>{{ tvshow.name }}</h3>
        <p>{{ tvshow.overview }}</p>
        <button (click)="addToFavorites(tvshow.id)">Add to Favorites</button>
      </div>
    </div>
  </div>

