<div class="container">
    <h1>TV Shows</h1>
    <input type="text" #queryInput placeholder="Enter TV Show Name" />
    <button (click)="searchTvShows(queryInput.value)">Search</button>

    <ul *ngIf="tvshows.length > 0">
        <li *ngFor="let tvshow of tvshows">
            <h2>{{ tvshow.name }}</h2>
            <p>{{ tvshow.overview }}</p>
            <button (click)="addToFavorites(tvshow.id)">Add to Favorites</button>
        </li>
    </ul>

    <p *ngIf="tvshows.length === 0">No TV Shows found.</p>
</div>


